
.env
.env.*
!.env.example

*.class
*.jar
*.war
*.ear

target/
!*.jar

hs_err_pid*

# Spring Boot config (local only)
application-local.properties
application-dev.properties


.idea/
*.iml
*.iws
*.ipr
out/


*.run.xml



.mvn/wrapper/maven-wrapper.jar


node_modules/
dist/
build/
coverage/

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*


mysqldata/
rabbitmqdata/
docker-data/


logs/
*.log


test-output/


.DS_Store
Thumbs.db


*.pem
*.key
*.p12


.springBeans
.factorypath